# Dependency directories
node_modules/

# Build output
dist/

# Test overage output
coverage/

# Default e2d tests output
test-results/

# IDE and Editor folders
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# API Server spec
/api.yaml
