// All colors
$color-primary: #1c5b70;
$color-primary-contrast: #fff;
$color-primary-light: #cae5ee;

$color-default-text: #343b3e;
$color-default-bg: #fff;
$color-lightest-bg: #f0f2f2;

$color-light-ascent: #dcdbdb;
$color-lightest-ascent: #00000020;

$color-danger: #b40130;

// Common spacing values
$spacing: 1.25rem;
$field-height: 3rem;
$field-spacing-v: 0.5rem;
$field-spacing-h: 1rem;
$field-icon-size: 1.5rem;
