@import './partials/variables';

* {
  box-sizing: border-box; // set universal box-sizing
}

html {
  font-size: 16px;
}

body,
input,
button {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
  background: $color-light;
  color: $color-dark;
  margin: 0;
}

input,
button {
  font-size: 0.875rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $color-dark;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
