@import './partials/variables';

* {
  box-sizing: border-box; // set universal box-sizing
}

html {
  font-size: 16px;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background: $color-background;
  color: $color-text;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  color: $color-text;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
