@import './partials/variables';

* {
  box-sizing: border-box; // set universal box-sizing
}

html {
  font-size: 16px;
}

body,
input,
button {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
  background: $color-default-bg;
  color: $color-default-text;
  margin: 0;
}

input,
button {
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  border-radius: ($field-height * 0.5);
  border: 2px solid transparent;
  background-color: $color-primary;
  color: $color-primary-contrast;
  cursor: pointer;
  transition: background-color 0.35s ease;
  padding: 0.5rem 1.5rem;

  &:hover {
    border-color: $color-primary;
    background-color: $color-primary-contrast;
    color: $color-primary;
    text-decoration: none;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $color-light-ascent;
    border-color: $color-light-ascent;
    color: $color-default-text;
  }

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}
