@import './partials';

.offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: $spacing;
  padding: ($spacing * 2) 0;
}

.offer-card {
  flex: 1 1 auto;
  max-width: 400px;
  border: 1px solid $color-light-gray;
  border-radius: 6px;
  padding: $spacing;

  h3 {
    margin: 0 0 0.5rem;
  }

  a {
    @include btn;

    margin-top: 1rem;
  }
}
