@import './partials';

.main {
  min-height: calc(100vh - 72px);
}

.centered-content {
  max-width: 1440px;
  margin: 0 auto;
}

.main-section {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $spacing;
}
