@import './partials/variables';
@import './partials/utils';

.main {
  min-height: calc(100vh - 72px);
}

.centered-content {
  max-width: 1440px;
  margin: 0 auto;
}

.hero-section {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: $spacing;

  h1 {
    font-size: 2rem;
    margin: 1rem 0;
  }

  p {
    max-width: 500px;
    margin: 0.5rem auto;
  }

  @include mobile {
    padding: $spacing * 2;
  }

  @include tablet {
    h1 {
      font-size: 3rem;
    }
  }
}
