@import '../partials';

.offers-section {
  padding: ($spacing * 3) $spacing;
}

.address-label {
  display: block;
  font-size: 1.125rem;
  padding: 0.5rem $field-spacing-h;
}

.address-fields-holder {
  display: flex;
  gap: 0.5rem;
}

.address-input-holder {
  display: flex;
  flex-grow: 1;
  position: relative;
  height: $field-height;

  .address-input-field {
    flex-grow: 1;
    width: 100%;
    border-radius: ($field-height * 0.5);
    border: 2px solid $color-primary;
    padding: $field-spacing-v ($field-spacing-h + $field-icon-size) $field-spacing-v $field-spacing-h;
  }

  .address-reset-button {
    position: absolute;
    right: $field-spacing-h;
    top: 50%;
    transform: translateY(-50%);
    width: $field-icon-size;
    height: $field-icon-size;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    z-index: 10;
  }
}

.address-submit-button {
  padding-left: 1rem;
  padding-right: 1rem;
}

.address-errors p {
  font-size: 0.875rem;
  color: $color-danger;
  margin: 0.5rem $field-spacing-h;
}
